# Ignore Data
data/
data-old/
*.csv
*.parquet

# Ignore Environments & Caches
__pycache__/
*.ipynb_checkpoints/
.env
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS / editor
.DS_Store
*.swp

.vscode/